<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
        <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/2297/2297719.png">
  <body>
    <h1>Your report has been noted</h1>
    <form action="/index" method="get">
      <button type="submit">Back</button>
    </form>

    
  </body>
  
</html>